# Project directories
models/*
!models/.gitkeep

evaluation/*
!evaluation/.gitkeep

logs/*
!logs/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db

# Virtual Environment
venv/
env/
ENV/

# MLflow / Artifacts
mlruns/
artifacts/
outputs/
*.h5

# System files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.h5

__pycache__
*.pyc
*.ipynb
data/
logs/
*.h5
*.ckpt
/my_add
/data2
/metrics.json
